.section {
    margin-top: 30px;
    .main_header {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .card {
        width: 100%;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;

        .info {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-between;

            .header {
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
            }
        }
        .message {
            margin-top: 20px;
        }
    }

}
